---
import astroLogo from '@/assets/astro.svg';
import background from '@/assets/background.svg';
---

<div id="container" class="min-h-screen bg-gradient-to-br from-purple-900 via-blue-900 to-indigo-900 flex flex-col items-center justify-center">
	<p class="text-white text-2xl">Hello World</p>
</div>


	